@import '~@/styles/app';

.item-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: -20px;

  div:nth-of-type(2) {
    color: var(--warp-blue-color);
    font-weight: 500;
  }
}
.item {
  padding: 0 !important;
  border-right: 1px solid #b0b0b0;
}

.contracts-wrapper {
}

.charts-wrapper {
  background-color: $gray-100;
  border-radius: 10px;
  padding: 2rem;
  margin: 0.5rem;
  box-shadow: var(--content-shadow);
  margin-bottom: 30px;
}

.charts {
  margin-bottom: 40px;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.provider-card {
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.provider-card-preloader {
  height: 88px;
  border-radius: $border-radius-sm;
  margin-bottom: 40px;

  @include preload-animation(2s, 100vw);
}

.flaticon-file-signature {
  height: 30px;
  width: 30px;
}

.filter-header {
  font-weight: 500;
}

.radio-group {
  display: block;

  @media (min-width: breakpoint-min(md)) {
    display: flex;
  }

  .contract-type-item {
    margin-right: 1rem;
    display: flex;
  }

  .custom-control-inline {
    margin-right: 0 !important;
  }
}

.flaticon-question-tooltip {
  width: 25px;
  height: 25px;
  transform: scale(0.6);
  margin-top: 8px;
  filter: invert(66%) sepia(0%) saturate(275%) hue-rotate(191deg) brightness(95%) contrast(97%);
}

.no-contracts-wrapper {
  height: 250px;
}

.chart-wrapper {
  width: 80%;
  height: 300px;
}

.flaticon-fullscreen {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.chart-header {
  align-items: center;
  margin-top: 1rem;
  margin-right: 3.75rem;
  display: flex;
}

.chart-single-wrapper {
  flex: 2 1 0%;
  padding: 15px;
  margin: 0.5rem;
  min-width: 150px;
  height: 350px !important;

  @media (max-width: breakpoint-max(lg)) {
    flex: 1 0 50%;
  }
}

.tx-lists-wrapper {
  margin-bottom: 40px;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.tx-list-header {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.75rem;
}

.tx-list-single-wrapper {
  flex: 2 1 0%;
  padding: 15px;
  margin: 0.5rem;
  min-width: 150px;
  border-radius: 10px;
  background-color: $gray-100;
  box-shadow: var(--content-shadow);

  @media (max-width: breakpoint-max(lg)) {
    flex: 1 0 50%;
  }
}

.stats-wrapper {
  align-self: center;
  margin-left: -75px;
  flex-grow: 1;

  @media (max-width: breakpoint-max(lg)) {
    margin-left: 0;
  }

  .item-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 20px 0;
    font-weight: 600;
    div:nth-of-type(1) {
      font-weight: 500;
    }

    div:nth-of-type(2) {
      font-size: 28px;
      color: var(--warp-blue-color);
    }
  }
}
