@import '~@/styles/app';

.stats-wrapper {
  align-self: center;
  margin-left: -75px;
  flex-grow: 1;

  @media (max-width: breakpoint-max(lg)) {
    margin-left: 0;
  }

  .item-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 20px 0;
    font-weight: 600;
    div:nth-of-type(1) {
      font-weight: 500;
    }

    div:nth-of-type(2) {
      font-size: 28px;
      color: var(--redstone-smartweave-blue-color);
    }
  }
}
.item {
  padding: 0 !important;
  border-right: 1px solid #b0b0b0;
}

.contracts-wrapper {
  background-color: $gray-100;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: var(--content-shadow);
}

.provider-card {
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.provider-card-preloader {
  height: 88px;
  border-radius: $border-radius-sm;
  margin-bottom: 40px;

  @include preload-animation(2s, 100vw);
}

.flaticon-file-signature {
  height: 30px;
  width: 30px;
}

.chart {
  overflow: auto;
}

.filter-header {
  font-weight: 500;
}

#contract-type-group {
  display: block;

  @media (min-width: breakpoint-min(md)) {
    display: flex;
  }

  .contract-type-item {
    margin-right: 1rem;
    display: flex;
  }

  .custom-control-inline {
    margin-right: 0 !important;
  }
}

.flaticon-question-tooltip {
  width: 25px;
  height: 25px;
  transform: scale(0.6);
  margin-top: 8px;
  filter: invert(66%) sepia(0%) saturate(275%) hue-rotate(191deg)
    brightness(95%) contrast(97%);
}

.chart-wrapper {
  width: 80%;
  height: 300px;
}
.chart {
  height: 300px;
  width: 100%;
  margin-top: -15px;
  margin-left: -12px;
  position: relative;

  @media (min-width: breakpoint-min(lg)) {
    width: 80%;
  }
}

.chart-title {
  transform: rotate(270deg);
  position: absolute;
  left: -20px;
  bottom: 150px;
}
