@import '~@/styles/app';

.fullscreen-wrapper {
  background-color: $gray-100;
  border-radius: 10px;
  padding: 4rem;
  box-shadow: var(--content-shadow);
  height: 85vh;
  min-height: 550px;

  @media (max-width: breakpoint-max(xl)) {
    padding: 2rem;
  }

  @media (max-width: breakpoint-max(md)) {
    padding: 1rem;
  }
}

.title {
  margin-left: 5.25rem;
  @media (max-width: breakpoint-max(lg)) {
    margin-left: 0;
  }
}

.flaticon-chevron-left {
  height: 25px;
  width: 25px;
  margin-left: 5.25rem;
  margin-right: 1rem;
  @media (max-width: breakpoint-max(lg)) {
    margin-left: 0;
  }
}
