/**
 * Customized version of bootstrap using variables from _variables.scss.
 * This file is loaded via separate loader thus allowing to use original bootstrap classes (e.g. .btn-default) through out the app.
 */
@import '~bootstrap/scss/functions';
@import 'variables';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import 'mixins';

.tx-preloader {
  height: 35px;
  margin-bottom: 20px;
  @include preload-animation(2.5s, 100vw);
}

.json-theme {
  background: #fff;
  white-space: nowrap;
  color: #525252;
  font-size: 12px;
  font-family: Consolas, Menlo, Courier, monospace;

  .jv-ellipsis {
    color: #999;
    background-color: #eee;
    display: inline-block;
    line-height: 0.9;
    font-size: 0.9em;
    padding: 0px 4px 2px 4px;
    border-radius: 3px;
    vertical-align: 2px;
    cursor: pointer;
    user-select: none;
  }
  .jv-button {
    color: #49b3ff;
  }
  .jv-key {
    color: #111111;
  }
  .jv-item {
    &.jv-array {
      color: #111111;
    }
    &.jv-boolean {
      color: #fc1e70;
    }
    &.jv-function {
      color: #067bca;
    }
    &.jv-number {
      color: #fc1e70;
    }
    &.jv-number-float {
      color: #fc1e70;
    }
    &.jv-number-integer {
      color: #fc1e70;
    }
    &.jv-object {
      color: #111111;
    }
    &.jv-undefined {
      color: #e08331;
    }
    &.jv-string {
      color: #42b983;
      word-break: break-word;
      white-space: normal;
    }
  }
  .jv-code {
    .jv-toggle {
      &:before {
        padding: 0px 2px;
        border-radius: 2px;
      }
      &:hover {
        &:before {
          background: #eee;
        }
      }
    }
  }
}

.flaticon-copy-to-clipboard {
  height: 15px;
  min-width: 15px;
  background-repeat: no-repeat;
  align-self: end;
  margin-bottom: 5px;
  margin-left: 10px;
  cursor: pointer;
  filter: invert(66%) sepia(0%) saturate(275%) hue-rotate(191deg) brightness(95%) contrast(97%);

  &.small {
    margin-bottom: 3px;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.clipboard-success {
  align-self: end;
  margin-bottom: 3px;
  margin-left: 3px;
  color: var(--warp-blue-color);
  padding: 2px;
  font-size: 11px;
  font-weight: 500;
}

.led {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: #000 0 -1px 6px 1px;
}
.led-red {
  background-color: #f00;
  box-shadow: #e30d0d 0 0 0 0, inset rgb(199, 8, 8) 0 -1px 8px, #f00 0 3px 11px;
}

.led-green {
  background-color: #80ff00;
  box-shadow: #46e715 0 0 0 0, inset rgb(122, 173, 19) 0 -1px 8px, #80ff00 0 3px 11px;
}
