@import "../../styles/app";

.app-header.navbar {
  height: $navbar-height;
  z-index: 100;
  padding: 00;
  background: var(--navbar-bg);
  box-shadow: var(--navbar-shadow);
  transition: $transition-base;
  border: none;
  font-weight: 500;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  padding-left: 10px;

  @media (min-width: breakpoint-min(md)) {
    padding: 0 1.85rem 0;
  }

  .nav {
    height: 100%;
    padding: 0;

    .btn-modal {
      height: fit-content;
      border: none;
      margin-right: 10px;
      font-size: $font-size-mini;
      color: white;
      background-color: var(--redstone-smartweave-blue-color);

      &:hover {
        opacity: 0.85;
      }

      @media (min-width: breakpoint-min(md)) {
        font-size: $font-size-base;
      }
    }
  }

  .form-group {
    width: 200px;

    @media (min-width: breakpoint-min(md)) {
      width: 300px;
    }

    .input-group {
      position: static;
      @media (min-width: breakpoint-min(sm)) {
        position: relative;
      }
    }

    .input-group-text {
      &.blue {
        color: var(--redstone-smartweave-blue-color);
      }
    }

    input {
      background-color: $gray-350;
      &::placeholder {
        color: $gray-750;
        font-weight: $font-weight-normal;
      }
    }

    .input-group-no-border {
      width: 60vw;

      @media (min-width: breakpoint-min(xs)) {
        width: 60vw !important;
      }

      @media (min-width: breakpoint-min(sm)) {
        width: 400px !important;
      }

      @media (min-width: breakpoint-min(lg)) {
        width: 550px !important;
      }

      @media (min-width: breakpoint-min(xl)) {
        width: 630px !important;
      }
    }

    .input-group-prepend {
      margin-right: 0;
    }

    .input-group-text {
      border: none;
      transition: background-color ease-in-out 0.15s;
      background-color: $gray-350;
    }
  }
}

.input-search {
  position: static;
  @media (min-width: breakpoint-min(sm)) {
    position: relative;
  }
  padding-left: 0;
  border-radius: 0 0.5rem 0.5rem 0;
  border: none;
  transition: background-color 0.15s ease-in-out;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;

  @media (min-width: 576px) {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
.input-search .list-group {
  background-color: white;

  margin-left: -48px;
  width: 100vw !important;
  right: 0;
  top: 60px;

  @media (min-width: breakpoint-min(xs)) {
    width: 100vw !important;
  }

  @media (min-width: breakpoint-min(sm)) {
    width: 400px !important;
    right: auto;
    top: auto;
  }

  @media (min-width: breakpoint-min(lg)) {
    width: 550px !important;
  }

  @media (min-width: breakpoint-min(xl)) {
    width: 630px !important;
  }
}

.input-search .list-group-item {
  border: none !important;
}

.suggestion-type {
  font-size: 10px;
  text-transform: uppercase;
  color: var(--redstone-smartweave-blue-color);
  align-self: end;
}

.pst-match {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  width: 100%;

  @media (min-width: breakpoint-min(lg)) {
    width: 75px;
  }

  @media (min-width: breakpoint-min(xl)) {
    width: 120px;
  }
}
